[include]
    path = ".config/git/config"

[include]
    path = ".config/git/config-private"
[core]
	quotepath = false
	commitGraph = true
[gc]
	writeCommitGraph = true
[credential]
	helper = store
[init]
	defaultBranch = main
