# mutt{{{

mutt/.config/mutt/home.rc
mutt/.config/mutt/school.rc

# Stores full real names, and this won't apply to anyone cloning this.
# The example.rc provided is the same thing, just sanitised.

# }}}

# scripts {{{
scripts/scripts/data/priv/
# }}}

#qutebrowser{{{

qutebrowser/.config/qutebrowser/qsettings/*
qutebrowser/.config/qutebrowser/bookmarks/*
qutebrowser/.config/qutebrowser/quickmarks

#}}}

#vim{{{
vim/.config/vim/spell/

#}}}

# weechat{{{

weechat/.config/weechat/sec.conf
# Stores passwords unencrypted
# This way I can keep them out of the main dotfiles in an easy way
# such that on a new machine, you can easily see what is meant to go there

weechat/.config/weechat/ssl/*.pem
# Stores SSL private keys for cert auth. A few servers use this.

weechat/.config/weechat/logs/
# Stores chat logs. These *may* store passwords, and they're not really needed.
# Also, they're massive and many servers have a policy of not releasing logs


weechat/.config/weechat/*.log
# Similar, stores crash logs and misc logs. Not needed, may be sensitive

weechat/.config/weechat/chanstat/peak_data.csv
# Stores number of users in all channels. Not very useful, may have privacy implications.
#

weechat/.config/weechat/script/plugins.xml.gz
# Stores plugin data. Probably not needed that much.

# }}}

#x{{{

x/.config/X/xauthority

# Would change on every log in, and it's useless on new machines.

#}}}

#zsh{{{
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/histfile
#}}}

#mpv{{{
mpv/.config/mpv/watch_later/
#}}}


#ncmpcpp{{{
ncmpcpp/.config/ncmpcpp/lyrics/
#}}}
