[submodule "vim/.config/vim/bundle/i3-vim-syntax"]
	path = vim/.config/vim/bundle/i3-vim-syntax
	url = git@github.com:PotatoesMaster/i3-vim-syntax.git
[submodule "vim/.config/vim/bundle/vim-characterize"]
	path = vim/.config/vim/bundle/vim-characterize
	url = git@github.com:tpope/vim-characterize.git
[submodule "vim/.config/vim/bundle/vim-ledger"]
	path = vim/.config/vim/bundle/vim-ledger
	url = https://www.github.com/ledger/vim-ledger
[submodule "vim/.config/vim/bundle/todo.txt-vim"]
	path = vim/.config/vim/bundle/todo.txt-vim
	url = git@github.com:freitass/todo.txt-vim.git
[submodule "vim/.config/vim/bundle/table-mode"]
	path = vim/.config/vim/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/.config/vim/bundle/vim-pandoc-syntax"]
	path = vim/.config/vim/bundle/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax.git
[submodule "vim/.config/vim/bundle/pydoc.vim"]
	path = vim/.config/vim/bundle/pydoc.vim
	url = git@github.com:fs111/pydoc.vim.git
[submodule "vim/.config/vim/bundle/vim-cute-python"]
	path = vim/.config/vim/bundle/vim-cute-python
	url = git@github.com:ehamberg/vim-cute-python.git
[submodule "vim/.config/vim/bundle/rust.vim"]
	path = vim/.config/vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.config/vim/bundle/syntastic"]
	path = vim/.config/vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.config/vim/bundle/vim-racer"]
	path = vim/.config/vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/git-prompt.zsh"]
	path = zsh/.config/zsh/plugins/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh.git
[submodule "vim/.config/vim/bundle/vim-pandoc"]
	path = vim/.config/vim/bundle/vim-pandoc
	url = git@github.com:vim-pandoc/vim-pandoc.git
[submodule "nvim/.config/nvim/pack/packages/start/i3config.vim"]
	path = nvim/.config/nvim/pack/packages/start/i3config.vim
	url = https://github.com/mboughaba/i3config.vim.git
[submodule "nvim/.config/nvim/pack/packages/start/rust.vim"]
	path = nvim/.config/nvim/pack/packages/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "nvim/.config/nvim/pack/packages/start/vim-pandoc"]
	path = nvim/.config/nvim/pack/packages/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "nvim/.config/nvim/pack/packages/start/vim-pandoc-syntax"]
	path = nvim/.config/nvim/pack/packages/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "nvim/.config/nvim/pack/packages/start/syntastic"]
	path = nvim/.config/nvim/pack/packages/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "nvim/.config/nvim/pack/packages/start/vim-sensible"]
	path = nvim/.config/nvim/pack/packages/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "nvim/.config/nvim/pack/packages/start/vim-sleuth"]
	path = nvim/.config/nvim/pack/packages/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "nvim/.config/nvim/pack/packages/start/coc.nvim"]
	path = nvim/.config/nvim/pack/packages/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "nvim/.config/nvim/pack/packages/start/omnisharp-vim"]
	path = nvim/.config/nvim/pack/packages/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "mpv/.config/mpv/scripts/mpv_sponsorblock"]
	path = mpv/.config/mpv/scripts/mpv_sponsorblock
	url = https://github.com/po5/mpv_sponsorblock.git
[submodule "nvim/.config/nvim/pack/packages/start/--force"]
	path = nvim/.config/nvim/pack/packages/start/--force
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "mpv/.config/mpv/scripts/repos/mpv-youtube-quality"]
	path = mpv/.config/mpv/scripts/repos/mpv-youtube-quality
	url = https://github.com/jgreco/mpv-youtube-quality
[submodule "mpv/.config/mpv/scripts/repos/mpv_thumbnail_script"]
	path = mpv/.config/mpv/scripts/repos/mpv_thumbnail_script
	url = https://github.com/TheAMM/mpv_thumbnail_script
[submodule "vim/.config/vim/bundle/kotlin-vim"]
	path = vim/.config/vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
