[submodule "vim/.config/vim/bundle/i3-vim-syntax"]
	path = vim/.config/vim/bundle/i3-vim-syntax
	url = git@github.com:PotatoesMaster/i3-vim-syntax.git
[submodule "vim/.config/vim/bundle/vim-characterize"]
	path = vim/.config/vim/bundle/vim-characterize
	url = git@github.com:tpope/vim-characterize.git
[submodule "vim/.config/vim/bundle/vim-ledger"]
	path = vim/.config/vim/bundle/vim-ledger
	url = https://www.github.com/ledger/vim-ledger
[submodule "vim/.config/vim/bundle/todo.txt-vim"]
	path = vim/.config/vim/bundle/todo.txt-vim
	url = git@github.com:freitass/todo.txt-vim.git
[submodule "vim/.config/vim/bundle/table-mode"]
	path = vim/.config/vim/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/.config/vim/bundle/vim-pandoc-syntax"]
	path = vim/.config/vim/bundle/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax.git
[submodule "vim/.config/vim/bundle/vim-rst-tables"]
	path = vim/.config/vim/bundle/vim-rst-tables
	url = git@github.com:nvie/vim-rst-tables.git
[submodule "vim/.config/vim/bundle/pydoc.vim"]
	path = vim/.config/vim/bundle/pydoc.vim
	url = git@github.com:fs111/pydoc.vim.git
