/*
* with thanks to Rea :3
* :3
*/

html,
html > *,
html > * > *,
.browser-toolbar {
    border: none !important;
    -moz-appearance: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

html#main-window {
    background: rgba(0, 0, 0, 0.85) !important;
}

browser {
    background: transparent !important;
}

window {
    background: transparent !important;
}

#sidebar-header {
    border-bottom: none !important;
}

:root {
    --tabpanel-background-color: transparent !important;
    --sidebar-background-color: transparent !important;
    --in-content-page-background: transparent !important;
    --in-content-table-background: rgba(0, 0, 0, 0.25) !important;
    --in-content-table-header-background: rgba(0, 221, 255, 0.25) !important;
    --in-content-table-header-color: white !important;
}
