/*
* with thanks to Rea :3
* :3
*/
@-moz-document url("about:newtab"), url("about:home"), url("about:blank") {
    .wordmark {
        display: none !important;
    }
    html,
    body {
        --newtab-background-color: rgba(0, 0, 0, 0.5) !important;
        --newtab-background-color-secondary: rgba(64, 64, 64, 0.9) !important;
    }
}

@-moz-document url("about:privatebrowsing") {
    .wordmark {
        display: none !important;
    }
    html,
    body {
        background: rgba(37, 0, 64, 0.5) !important;
    }
}
