/*
* with thanks to Rea :3
* :3
*/

html,
html > *,
html > * > *,
.browser-toolbar {
    border: none !important;
    -moz-appearance: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.titlebar-color,
.browser-toolbar,
findbar {
    background: rgba(0, 0, 0, 0.75) !important;
}

.tab-line {
    background: none !important;
}

.tab-background[selected="true"] {
    background: #5294e2 !important;
    border-radius: 6px;
    border: none !important;
}

:root {
    --tabpanel-background-color: transparent !important;
}
